.btn-nav {
  height: 40px;
  width: 150px;
  border: #ccc solid 1px;
  border-radius: 50px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  font-weight: 500;
  font-style: normal;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-nav img {
  height: 18px;
  padding-right: 4px;
}
