.cta-section {
  display: flex;
  justify-content: space-between;
  margin: 0 32px 32px 32px;
  .cta-card {
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
    width: 164px;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

    .contents {
      display: flex;
      flex-direction: column;

      .textbox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 32px;
        margin-bottom: 24px;
        h2 {
          font-family: "Merriweather", serif;
          font-weight: 600;
          font-size: 20px;
          line-height: 120%;
        }

        p {
          font-family: "Poppins" sans-serif;
          text-align: center;
          font-weight: 400;
          margin-top: 12px;
          font-size: 12px;
          color: #212529;
          line-height: 140%;
        }
      }
    }
  }
}
