@use "./config";
@use "./navbar";
@use "./button";
@use "./hero";
@use "./card";
@use "./gallary";
@use "./cta";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.gems-body {
  display: flex;
  flex-direction: column;
}
