@use "./config";
@use "./navbar";
@use "./button";
@use "./hero";
@use "./card";
@use "./gallary";
@use "./cta";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.gems-body {
  display: flex;
  flex-direction: column;
}

.footer {
  margin: 32px 0;
  display: flex;
  flex-direction: column;

  p {
    margin-top: 4px;
    font-size: 10px;
    color: #bbb;
    text-align: center;
  }
}
