.App {
  display: none;
}
.App-non-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
@media only screen and (max-width: 450px) {
  .App {
    display: block;
  }
  .App-non-mobile {
    display: none;
  }
}
